html {
  box-sizing: border-box;
  font-size: 62.5%; /* font-size: 10px; */
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: #141627;
  font-family: "Roboto", sans-serif;
	user-select: none;
}

.back {
  width: 7rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: brown;
  border-radius: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.back a {
  color: white;
}

.container {
  width: 100%;
  height: 80vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	position: relative;
}

/* Reset Style */
a {
  text-decoration: none;
}

.box {
  width: 30rem;
  height: 30rem;
  perspective: 100rem;
  background-color: rgb(7, 133, 133);
  display: grid;
  padding: 2rem 1rem;
	display: flex;
	flex-wrap: wrap;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); */
}

.card {
	width: calc(25% - 2rem);
	height: calc(33.333% - 2rem);
  position: relative;
  background-color: rgba(6, 86, 88, 0.226);
  margin: 1rem;
  display: flex;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.back-face,
.front-face {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.time {
	font-size: 4rem;
	font-weight: bold;
	color: white;
}

.record {
font-size: 2rem;
color: rgb(71, 218, 71);
}

.again {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	background-color: rgb(23, 221, 50);
	color: white;
	position: absolute;
	z-index: 1;
	box-shadow: 0 0 50px 50px rgb(12, 143, 143);
	display: none;
}